/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

/* Links are inline elements, so do not create line breaks in a layout; they appear on the same line as the content and elements beside them.
An inline element will only accept left/right margins and any padding value. So they do not respond to the text-align property without using the block display.
Since this is using the mobile-first approach, the css just below results in the links being stacked. See the media-query section below for css for wider displays. */

 /* Added this block, TOP */
.name, 
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}
/* TOP */

.name a,
.main-nav a {
	padding: 10px 15px; /*Added this line, TOP */
	text-align: center;
	display: block; /*Added this line, TOP */
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */
 
/* Added this block, TOP */
.container {
	padding-left: 1em;
	padding-right: 1em;
}
/* TOP */

.banner {
	color: #fff;
	background: #3acec2;
	padding-top: 1.5em; /*Added this line, TOP */
	padding-bottom: 1.5em; /*Added this line, TOP */
	text-align: center; /*Added this line, TOP */
	display: block; /*Added this line, TOP */
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

/* ================================= 
  Added all media query logic, except
  .clearfix, TOP
==================================== */

/* tablet and laptop */
@media (min-width: 769px) {

/* Limit width of wider screens */
.container {
	width: 80%;
	max-width: 1150px;
	margin: 0 auto;
}

/* Heading should be on one line on tablets, laptops and wider. */
.main-nav {
 	float: right;
}

.name, 
.main-nav li {
	float: left;
}

.main-nav li {
	margin-left: 12px;
}

/* columns */
.col primary {
	float: right;
}

.col,
.secondary,
.tertiary {
	float: left;
	padding-right: 1em;
	width: 50%;
}

.wrap {
	min-height: calc(100vh - 89px);
}

.main-footer {
	display: block;
	text-align: center;
}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

/* laptop */
@media (min-width: 1025px) {

/* columns */
.col {
	float: left;
	padding-right: 1em;
}

.col + .col {
	padding-left: 1em;
}

.col:last-child {
	padding-right: 0;
}

.primary {
	width: 44%;
}

.secondary,
.tertiary {
	width: 28%;	
}

}







